/*
    Two fonts are used taken from Google Fonts: Rationale for the first h1 and Inter for everything else
*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rationale&display=swap');

/*
    Just some basic resetting of the elements.
*/
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.2;
}

img, svg {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
}

/* Reset ending here */

:root {
    --background_color: #FCFAFA;
    --main_font_color: #222222;
    --menu_font_color: #7D8491;
}

body {
    font-family: Inter, sans-serif;
    background-color: var(--background_color);
    color: var(--main_font_color);
}

main {
    width: 64%;
    margin: auto;
    margin-top: -300px;
}

main > section {
    height: 100vh;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}

#anthony_section h1 {
    font-family:  Rationale, serif;
    font-weight: 300;
    font-size: 80px;
}

#anthony_section p, #about_section p {
    font-size: 32px;
    text-align: justify;
    margin-bottom: 50px;
}

#external_links {
    background-color: var(--background_color);
    float: right;
    z-index: 1;
    position: sticky;
    height: 100px;
    top: 0px;
    right: 25px;
    width: 85%;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    padding-right: 25px;
    align-items: end;
}

.icon {
    height: 50px;
    width: 50px;
}

.linkedin_icon {
    background: url(icons/Linkedin_logo.svg) no-repeat center/100%;
}
.linkedin_icon:hover, .linkedin_icon:active {
    background: url(icons/Linkedin_logo_highlighted.svg) no-repeat center/100%;
}

.github_icon {
    background: url(icons/Github_logo.svg) no-repeat center/100%;
}
.github_icon:hover, .github_icon:active {
    background: url(icons/Github_logo_highlighted.svg) no-repeat center/100%;
}

.mail_icon {
    background: url(icons/mail_logo.svg) no-repeat center/100%;
}
.mail_icon:hover, .mail_icon:active {
    background: url(icons/mail_logo_highlighted.svg) no-repeat center/100%;
}

#external_links > a > img:hover {
    filter: invert(54%) sepia(4%) saturate(1001%) hue-rotate(181deg) brightness(94%) contrast(88%);
}

#internal_links {
    margin-top: -65px;
    position: sticky;
    list-style: none;
    font-size: 32px;
    top: 25px;
    width: 15%;
}

#internal_links > li > a {
    color: var(--menu_font_color);
}

#internal_links > li > a:hover {
    color: var(--main_font_color);
}

#internal_links li:not(:last-child) {
    margin-bottom: 30px;
}

#anthony_section > p {
    margin-left: 5%;
}

/* #anthony_section, #about_section {
    opacity: 0;
    transform: translateX(20px);
    transition: opacity .5s ease-out, transform 0.5s ease-out;
}

#anthony_section.show, #about_section.show {
    opacity: 1;
    transform: translateX(0);
} */